rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read: if request.auth.uid == userId;
      allow delete, create: if request.auth.uid == userId;
      match /log/{logId} {
        allow read: if request.auth.uid == userId;
      }
    }
    match /twitters/{userId} {
      allow read: if true;
      allow create: if request.auth.uid != null;
      allow delete: if request.auth.uid == resource.data.owner;
      match /log/{logId} {
        allow read: if request.auth.uid != null;
      }
    }
    match /profiles/{userId} {
      allow read, write: if request.auth.uid == userId;
      match /follows/{twitterId} {
        allow read, write: if request.auth.uid == userId;
      }
    }
  }
}